.main_container {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.visible {
    animation: showModal 0.5s forwards ease
}

.hide {
    animation: hideModal 0.5s forwards ease
}

@keyframes showModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hideModal {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}