.dot {
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
    animation: bounce 0.6s infinite ease-in-out;
}

.primary .dot {
    background-color: white;
}

.secondary .dot {
    background-color: var(--brand-color);
}

.loader {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    height: 2ch;
}

.loader .dot:nth-child(1) {
    animation-delay: 0s;
}

.loader .dot:nth-child(2) {
    animation-delay: 0.1s;
}

.loader .dot:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0.25rem);
    }

    50% {
        transform: translateY(-0.25rem);
    }
}