.eissa_button {
    --padding: 12px 24px;
    --border-radius: 32px;
    padding: var(--padding);
    border-radius: var(--border-radius);
    cursor: pointer;
    min-width: 3rem;
    border: 2px solid var(--brand-color);
    font-weight: bold;
    transition: all 0.5s ease;
}

.primary {
    background-color: var(--brand-color);
    color: white;
}

.eissa_button:hover {
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.eissa_button:active {
    filter: brightness(50%);
    transform: scale(0.95);
}

.secondary {
    background-color: white;
    color: var(--brand-color);
}

.eissa_button.disabled {
    background-color: gray;
    cursor: not-allowed;
}

.loader {
    width: 0.8rem;
    height: 0.8rem;
    border: 2px solid var(--brand-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.primary > .loader{
    border: 2px solid white;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}